


/* 全体に対して------------------------------------------------------------------- */
.wrapper {
        width: 90%;
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
    
}
body{
    background-color: #ededf0;
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    min-height: 100vh;
    margin: 0;
    right: 0px;
}



/* ヘッダー----------------------------------------------------------------------- */
header{
    background-color: lightgreen;
}
.site-header__wrapper {
    display: contents;
}

.site-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* モーダル-------------------------------------------------------------------------- */
/*モーダルを開くボタン*/
.modal-open{
	display: flex;
    align-items: center;
    justify-content: center;
	cursor: pointer;
}
/*モーダル本体の指定 + モーダル外側の背景の指定*/
.modal-container{
    position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0,0,0,50%);
	overflow: auto;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
    box-sizing: border-box;
}
/*モーダル本体の擬似要素の指定*/
.modal-container:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
/*モーダル本体に「active」クラス付与した時のスタイル*/
.modal-container.active{
	opacity: 1;
	visibility: visible;
}
/*モーダル枠の指定*/
.modal-body{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	max-width: 500px;
	width: 90%;
}
/*モーダルを閉じるボタンの指定*/
.modal-close{
	position: absolute;
	display: flex;
    align-items: center;
    justify-content: center;
	top: -40px;
	right: -40px;
	width: 40px;
	height: 40px;
	font-size: 40px;
	color: #fff;
	cursor: pointer;
}
/*モーダル内のコンテンツの指定*/
.modal-content{
	background: #fff;
	text-align: left;
	padding: 30px;
}

/* コンテンツ */
.content-area{
    display: flex;
    flex: 1;
}
.content{
    flex:1;
    background-color: lightskyblue;
    text-align: center;
    margin: 0 10px 0 10px;
}



/* 学習時間３項目 */
.study__hour{
    display: flex;
    gap: 20px;
}
.study__hour__box{
    background-color: white;
    border-radius: 11px;
}
.study__hour__container{
    margin: 10px;
}
/* テキストに対して */
.study__hour__subheading{
    color: #0f71bc;
    font-size: 21px;
}
.study__hour__number{
    font-weight: bold;
}
.study__hour__unit{
    opacity: 0.5;
}



/* 学習言語と学習コンテンツ */

.lang__and__contents__box{
    display: flex;
    gap: 20px;
}
.contents__box{
    background-color: aqua;
}
/* ドーナツグラフ */





/* フッターここから */

.footer{
    height: 70px;
    text-align: center;
    background-color: #eee;
}